.venv
__pycache__
raw_data
dior_data
dataset
tiny_yolo.pth
he-man-tenseal
one_class_dataset
one_class_data
three_class_dataset
.vscode
backbone.onnx
fastercnn.pt
fomo.pth
fomo.onnx
pascal_voc_dataset
VOCdevkit/VOC2012
PASCALdata
data
models
runs
tinyissimoyolo.pth
SAR-Ship-Dataset
